<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rate</title>
  </head>
  <body>
    <h1>Rate this restaurant</h1>
    <form method="POST">
      <input type="hidden" name="id" value="<%= id %>">
      <input type="input" name="score" placeholder="Enter your score here (1-10)"/>
      <input type="submit" value="Rate" />
    </form>
  </body>
</html>
