
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
  <h1>Search restaurants</h1>
  <h2>Criterias</h2>
  <form>
      <input type="text" name="name" placeholder="Restaurant name"><br>
      <input type="text" name="borough" placeholder="Borough"><br>
      <input type="text" name="cuisine" placeholder="Cuisine"><br>
      <input type="text" name="owner" placeholder="Owner"><br>
      <button type="submit">Search</button>
      <button type="reset">Clear</button>
  </form>
</body>
</html>
